.Video-previews {
  display: flex;
  justify-content: flex-end;

  position: absolute;
  top: 0;
  right: 5%;

  max-height: 300px;
  max-width: 500px;
  width: 100%;
  z-index: 1;

  .Video-wrapper {
    flex: 0 1 30%;
    min-width: 100px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    &.active {
      border: solid 1px lightblue;
      pointer-events: none;
    }
  }
}

.Video-active {
  height: 100%;
}

.Video-wrapper {
  cursor: pointer;
}

.Call {
  position: relative;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);

  .VideoControls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .Chat-icon {
    position: absolute;
    bottom: 20px;
    right: 5%;
  }
}
