$chat-border-radius: 30px;

.Chat {
  &-icon {
    width: 80px !important;
    height: 80px !important;
    padding: 20px;
    background-color: white;
    border-radius: 50%;

    .anticon {
      color: rgba(0, 0, 0, 0.65);
      font-size: 40px;
    }

    &:hover {
      background-color: darken(white, 10%);
    }
  }

  &-send {
    display: flex;
    align-items: flex-end;

    &-icon {
      flex: 0 0 30px;
      fill: rgba(50, 80, 255, 0.7);
      transition: fill linear 0.3s;

      &.disabled {
        fill: rgba(0, 0, 0, 0.4);
      }
    }

    &-input {
      flex: 1 1 auto;
      margin-right: 10px;
    }
  }

  &-messages {
    flex-grow: 1;
    padding-top: 20px;
    overflow-y: auto;

    &-down {
      position: absolute;
      bottom: 110px;
      right: 20px;

      .anticon {
        color: rgba(0, 0, 0, 0.65);
      }

      &.ant-badge {
        z-index: 1;
        bottom: 132px;
        right: 32px;
      }
    }
  }

  .ant-drawer-body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &-message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;

    &-avatar {
      flex: 0 0 auto;
      margin-right: 5px;
    }

    &-container {
      flex: 1 1 auto;
    }

    &-text {
      border-radius: 0 $chat-border-radius $chat-border-radius
        $chat-border-radius;
      padding: 16px;
      background-color: rgb(73, 147, 243);
      color: white;
      word-break: break-word;
    }

    &-meta {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      font-size: 8px;
      color: gray;
    }

    &.mine {
      flex-direction: row-reverse;

      .Chat-message-text {
        background-color: rgb(131, 142, 248);
        border-radius: $chat-border-radius 0 $chat-border-radius
          $chat-border-radius;
      }

      .Chat-message-meta {
        align-items: flex-end;
      }

      .Chat-message-avatar {
        margin-right: 0;
        margin-left: 5px;
      }
    }
  }
}
